<section class="rewies" id="rewies">
  <h2 class="rewies__title">Отзывы наших покупателей</h2>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="rewies__container">
    <div class="swiper-wrapper g" id="swiper-wrapper">
      <div class="rewies-item">
        <div class="rewies-item__header">
          <div class="rewies-item__ava"><img></div>
          <div class="rewies-item__name">vendetta228</div><span class="rewies-item__dots"></span>
        </div><img class="rewies-item__photo">
        <div class="rewies-item__wrapper">
          <div class="rewies-item__icons"><span class="rewies-item__icon __like"></span><span class="rewies-item__icon __subs"></span><span class="rewies-item__icon __share"></span><span class="rewies-item__icon __flag"></span></div>
          <div class="rewies-item__count">134 отметки "Нравится"</div>
          <div class="rewies-item__post"><span class="rewies-item__post--name">vendetta228</span><span class="rewies-item__post--comment">какой-то комментарий о том как вован свой шапочный бренд развивал</span></div>
          <div class="rewies-item__download-more">Посмотреть все комментарии(8)</div>
          <div class="rewies-item__comments">
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Vovan</span><span class="rewies-item__comment--comment">немного прокомментировал this пост</span></div>
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Nick</span><span class="rewies-item__comment--comment">немного прокомментировал this пост [2]</span></div>
          </div>
          <div class="rewies-item__post-time">14 часов назад</div>
        </div>
      </div>
      <div class="rewies-item">
        <div class="rewies-item__header">
          <div class="rewies-item__ava"><img></div>
          <div class="rewies-item__name">vendetta228</div><span class="rewies-item__dots"></span>
        </div><img class="rewies-item__photo">
        <div class="rewies-item__wrapper">
          <div class="rewies-item__icons"><span class="rewies-item__icon __like"></span><span class="rewies-item__icon __subs"></span><span class="rewies-item__icon __share"></span><span class="rewies-item__icon __flag"></span></div>
          <div class="rewies-item__count">134 отметки "Нравится"</div>
          <div class="rewies-item__post"><span class="rewies-item__post--name">vendetta228</span><span class="rewies-item__post--comment">какой-то комментарий о том как вован свой шапочный бренд развивал</span></div>
          <div class="rewies-item__download-more">Посмотреть все комментарии(8)</div>
          <div class="rewies-item__comments">
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Vovan</span><span class="rewies-item__comment--comment">немного прокомментировал this пост</span></div>
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Nick</span><span class="rewies-item__comment--comment">немного прокомментировал this пост [2]</span></div>
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Nick</span><span class="rewies-item__comment--comment">немного прокомментировал this пост [2]</span></div>
          </div>
          <div class="rewies-item__post-time">14 часов назад</div>
        </div>
      </div>
      <div class="rewies-item">
        <div class="rewies-item__header">
          <div class="rewies-item__ava"><img></div>
          <div class="rewies-item__name">vendetta228</div><span class="rewies-item__dots"></span>
        </div><img class="rewies-item__photo">
        <div class="rewies-item__wrapper">
          <div class="rewies-item__icons"><span class="rewies-item__icon __like"></span><span class="rewies-item__icon __subs"></span><span class="rewies-item__icon __share"></span><span class="rewies-item__icon __flag"></span></div>
          <div class="rewies-item__count">134 отметки "Нравится"</div>
          <div class="rewies-item__post"><span class="rewies-item__post--name">vendetta228</span><span class="rewies-item__post--comment">какой-то комментарий о том как вован свой шапочный бренд развивал</span></div>
          <div class="rewies-item__download-more">Посмотреть все комментарии(8)</div>
          <div class="rewies-item__comments">
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Vovan</span><span class="rewies-item__comment--comment">немного прокомментировал this пост</span></div>
            <div class="rewies-item__comment"><span class="rewies-item__comment--name">Nick</span><span class="rewies-item__comment--comment">немного прокомментировал this пост [2]</span></div>
          </div>
          <div class="rewies-item__post-time">14 часов назад</div>
        </div>
      </div>
    </div>
  </div>
</section>

 <style>
   
.rewies {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 40px 0;
}
.rewies__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rewies-item {
  width: 320px;
  min-height: 300px;
  padding: 8px 12px;
  border-radius: 8px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
}
.rewies-item__header {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
}
.rewies-item__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.rewies-item__ava img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: lightblue;
}
.rewies-item__name {
  padding: 0 10px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.rewies-item__dots {
  margin-left: auto;
  margin-right: 6px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}
.rewies-item__dots::before,
.rewies-item__dots::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}
.rewies-item__dots::before {
  left: -6px;
}
.rewies-item__dots::after {
  right: -6px;
}
.rewies-item__photo {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: lightblue;
}
.rewies-item__wrapper {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
.rewies-item__icons {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.rewies-item__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url('../img/rewies/like.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.rewies-item__icon.__subs {
  background-image: url('../img/rewies/subs.png');
}
.rewies-item__icon.__share {
  background-image: url('../img/rewies/share.png');
}
.rewies-item__icon.__flag {
  background-image: url('../img/rewies/flag.png');
}
.rewies-item__icon:last-child {
  margin-right: 0;
  margin-left: auto;
}
.rewies-item__count {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #262626;
}
.rewies-item__post {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #262626;
  padding-top: 10px;
}
.rewies-item__post--name {
  font-weight: 600;
  margin-right: 6px;
}
.rewies-item__download-more {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #999;
  padding: 6px 0;
}
.rewies-item__post-time {
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #999;
  margin: 4px 0;
}
.rewies-item__comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rewies-item__comment {
  width: 100%;
  padding-right: 16px;
  margin: 4px 0;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  position: relative;
}
.rewies-item__comment--name {
  font-weight: 600;
  margin-right: 8px;
}
.rewies-item__comment::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 11px;
  right: 0;
  top: calc(50% - 5.5px);
  background-image: url('../img/rewies/like.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

   
 </style>