@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntulight.woff') format('woff'), url('../fonts/Ubuntu/ubuntulight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntu.woff') format('woff'), url('../fonts/Ubuntu/ubuntu.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntumedium.woff') format('woff'), url('../fonts/Ubuntu/ubuntumedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/ubuntubold.woff') format('woff'), url('../fonts/Ubuntu/ubuntubold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/opensanslight.woff') format('woff'), url('../fonts/OpenSans/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/opensans.woff') format('woff'), url('../fonts/OpenSans/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/opensansbold.woff') format('woff'), url('../fonts/OpenSans/opensansbold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI-Light.ttf') format('ttf'), url('../fonts/SegoeUI/SegoeUI-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI.ttf') format('ttf'), url('../fonts/SegoeUI/SegoeUI.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI-SemiBold.ttf') format('ttf'), url('../fonts/SegoeUI/SegoeUI-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI-Bold.ttf') format('ttf'), url('../fonts/SegoeUI/SegoeUI-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.fancy-mixin {
  display: none;
  cursor: default;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
html *,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html *::after,
body *::after,
html *::before,
body *::before {
  box-sizing: border-box;
  display: inline-block;
}
html * :active,
body * :active,
html * :hover,
body * :hover,
html * :focus,
body * :focus,
html * select,
body * select,
html * option,
body * option {
  outline: 0;
  outline-offset: 0;
}
input {
  background-color: transparent;
  border: none;
  font-family: 'IBM Plex Sans', sans-serif;
}
button {
  border-color: transparent;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
h1,
h2,
p,
span {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  /* убираем подчеркивания*/
  color: inherit;
}
ul {
  list-style: none;
  /* убираем маркировку списка*/
}
.f {
  display: flex;
}
.f-row {
  display: flex;
  flex-flow: row nowrap;
}
.f-col {
  display: flex;
  flex-flow: column nowrap;
}
.f-wrap {
  flex-wrap: wrap;
}
.container {
  width: 100%;
  padding: 0 15px;
}
.unactive {
  pointer-events: none;
}
.d-none {
  display: none!important;
}
section {
  border: 1px solid red;
  /*

		Для демонстрации

	*/
  border: none;
}
main {
  overflow: hidden;
}
.header {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header__container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header-top {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  line-height: 16px;
  color: #a8acb1;
  background-color: #f3f3f3;
  padding: 10px 0;
}
.header-top__item {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header-top__item p {
  position: relative;
}
.header-top__item p::before {
  position: absolute;
  left: 0;
  top: 0;
}
.header-top__item--main-phone {
  position: relative;
}
.header-top__item--main-phone span {
  transition: 0.3s ease;
  font-weight: 500;
}
.header-top__item--main-phone:hover span {
  color: #1973e8;
}
.header-bot {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  z-index: 9999;
  overflow-y: hidden;
}
.logo {
  font-size: 28px;
  margin-right: 10px;
  order: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s ease-out;
  position: relative;
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
}
.logo.__hidden {
  display: none;
}
.logo:hover {
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
}
.logo-after {
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  color: #333;
}
.nav-menu__toggler {
  padding: 5px 10px 5px 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 25;
  height: 66px;
  cursor: pointer;
  display: none;
}
.nav-menu__toggler span {
  position: relative;
  width: 40px;
  height: 5px;
  transition: 0.4s ease;
  background-color: #4d4e4e;
}
.nav-menu__toggler span::before,
.nav-menu__toggler span::after {
  position: absolute;
  left: 0;
  content: '';
  background-color: #4d4e4e;
  height: 5px;
  width: 100%;
  transition: background-color 0s;
  transition: 0.4s ease;
}
.nav-menu__toggler span::before {
  top: -14px;
}
.nav-menu__toggler span::after {
  bottom: -14px;
}
.nav-menu {
  order: 2;
  background-color: transparent;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.nav-menu__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 9999;
}
.nav-menu__item {
  width: auto;
  margin: 0 10px;
}
.nav-menu__item:first-of-type {
  margin-left: 0;
}
.nav-menu__item:last-of-type {
  margin-right: 0;
}
.nav-menu__item a {
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s ease;
}
.nav-menu__item.__hidden {
  display: none;
}
.nav-menu--open .nav-menu__toggler span {
  background-color: transparent;
}
.nav-menu--open .nav-menu__toggler span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-menu--open .nav-menu__toggler span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav-menu--open .nav-menu__toggler span::before,
.nav-menu--open .nav-menu__toggler span::after {
  top: 0;
}
.nav-menu--open .nav-menu__list {
  padding: 25px 15px 15px 15px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: auto;
  transition: all 1s;
  -webkit-animation: rotateWrapper 0.6s ease-out forwards;
          animation: rotateWrapper 0.6s ease-out forwards;
}
.nav-menu--open .nav-menu__list .nav-menu__item {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
  transition: opacity 0s, -webkit-transform 0.45s ease-out;
  transition: opacity 0s, transform 0.45s ease-out;
  transition: opacity 0s, transform 0.45s ease-out, -webkit-transform 0.45s ease-out;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(2) {
  transition-delay: 0.15s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(3) {
  transition-delay: 0.2s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(4) {
  transition-delay: 0.25s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(5) {
  transition-delay: 0.3s;
}
.nav-menu--open .nav-menu__list .nav-menu__item:nth-child(6) {
  transition-delay: 0.35s;
}
@-webkit-keyframes rotateWrapper {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -90deg);
            transform: rotate3d(1, 1, 0, -90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}
@keyframes rotateWrapper {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -90deg);
            transform: rotate3d(1, 1, 0, -90deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
}
.menu__callback-btn {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 22px;
  padding: 0 25px;
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
  box-shadow: 0px 10px 10px 0px rgba(210, 134, 91, 0.07), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.menu__callback-btn p {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: white;
}
.menu__callback-btn.__orange {
  background: linear-gradient(to bottom, #ffa84b 0%, #ef5531 100%);
}
.menu__callback-btn.__orange:hover {
  background: linear-gradient(to bottom, #ef5531 0%, #ef5531 100%);
}
.menu__callback-btn.__green {
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
}
.menu__callback-btn.__green:hover {
  background: linear-gradient(to bottom, #0ec539 0%, #47e72e 100%);
}
.menu__callback-btn::before {
  content: '';
  position: absolute;
  left: -70px;
  top: auto;
  width: 80px;
  height: 25px;
  background: transparent;
  background: white;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-animation: transfusionBtnPromo 7s ease infinite;
          animation: transfusionBtnPromo 7s ease infinite;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
@-webkit-keyframes transfusionBtnPromo {
  0% {
    left: -70px;
    background: white;
  }
  15% {
    left: 290px;
  }
  16% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes transfusionBtnPromo {
  0% {
    left: -70px;
    background: white;
  }
  15% {
    left: 290px;
  }
  16% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
.promo {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 2;
}
.promo__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  padding: 40px 15px;
}
.promo-col:last-child {
  width: auto;
  margin: 0 auto;
  flex-grow: 1;
}
.promo-content {
  width: 100%;
  max-width: 640px;
  padding-top: 60px;
}
.promo-bullets {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.promo-bullet {
  width: 50%;
  min-width: 270px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-right: 15px;
  margin: 15px 0;
}
.promo-bullet img {
  width: 100%;
  max-width: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.promo-bullet p {
  font-size: 15px;
  /*

				Тут не будет тега "p"
				хз типа стили как соблюдать в будущем

			*/
}
.promo__btn {
  width: 100%;
  max-width: 290px;
  height: 56px;
  border-radius: 28px;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
  box-shadow: 0px 10px 10px 0px rgba(210, 134, 91, 0.07), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.promo__btn--text {
  font-size: 16px;
  font-weight: 600;
  line-height: ;
  color: white;
}
.promo__btn.__orange {
  background: linear-gradient(to bottom, #ffa84b 0%, #ef5531 100%);
}
.promo__btn.__orange:hover {
  background: linear-gradient(to bottom, #ef5531 0%, #ef5531 100%);
}
.promo__btn.__green {
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
}
.promo__btn.__green:hover {
  background: linear-gradient(to bottom, #0ec539 0%, #47e72e 100%);
}
.promo__btn::before {
  content: '';
  position: absolute;
  left: -70px;
  top: auto;
  width: 80px;
  height: 25px;
  background: transparent;
  background: white;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-animation: transfusionBtnPromo 7s ease infinite;
          animation: transfusionBtnPromo 7s ease infinite;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
@keyframes transfusionBtnPromo {
  0% {
    left: -70px;
    background: white;
  }
  15% {
    left: 290px;
  }
  16% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.25;
  color: black;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 3px;
  background: green;
}
.promo-preview {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promo-preview img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.promo-preview__pulse-bg {
  width: 50%;
  padding-bottom: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.promo-preview__pulse-bg--container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: promoNPulse ease-in-out 3s infinite;
          animation: promoNPulse ease-in-out 3s infinite;
}
.promo-preview__pulse-bg--circle {
  border: 1px solid blue;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.4s;
}
.promo-preview__pulse-bg--circle.__circle-1 {
  width: 100%;
  height: 100%;
}
.promo-preview__pulse-bg--circle.__circle-2 {
  width: 70%;
  height: 70%;
}
@-webkit-keyframes promoNPulse {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes promoNPulse {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.about-1i {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-1i__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-1i-item {
  width: 100%;
  margin: 0 0 30px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-1i-item__img {
  position: absolute;
  left: 0;
  left: -80px;
  top: 0;
  width: 50%;
  width: calc(50% + 80px);
  height: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  background-color: lightgreen;
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
.about-1i-item__wrapper {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about-1i-item:nth-of-type(2n+2) .about-1i-item__wrapper {
  justify-content: flex-start;
}
.about-1i-item:nth-of-type(2n+2) .about-1i-item__img {
  left: auto;
  right: -80px;
}
.about-1i-item__content {
  min-height: 450px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 60px 30px 60px;
  z-index: 2;
}
.about-1i-item__content::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
.about-1i-item h2 {
  text-align: left;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  margin-bottom: 20px;
}
.about-1i-item h2 span {
  display: block;
}
.about-1i-item p {
  position: relative;
  z-index: 3;
}
.about-1i-item__btn {
  padding: 0 35px;
  height: 46px;
  border-radius: 23px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 25px 0;
  background: linear-gradient(to right, #f99b0e 0%, #ea6b22 100%);
  box-shadow: 0px 10px 10px 0px rgba(210, 134, 91, 0.07), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.about-1i-item__btn p {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
.about-1i-item__btn.__orange {
  background: linear-gradient(to bottom, #f99b0e 0%, #ea6b22 100%);
}
.about-1i-item__btn.__orange:hover {
  background: linear-gradient(to bottom, #ea6b22 0%, #ea6b22 100%);
}
.about-1i-item__btn.__green {
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
}
.about-1i-item__btn.__green:hover {
  background: linear-gradient(to bottom, #0ec539 0%, #47e72e 100%);
}
.about-1i-item__btn::before {
  content: '';
  position: absolute;
  left: -70px;
  top: auto;
  width: 80px;
  height: 25px;
  background: transparent;
  background: white;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-animation: transfusionBtnAbout1i 7s ease infinite;
          animation: transfusionBtnAbout1i 7s ease infinite;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}
@-webkit-keyframes transfusionBtnAbout1i {
  0% {
    left: -70px;
    background: white;
  }
  15% {
    left: 290px;
  }
  16% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes transfusionBtnAbout1i {
  0% {
    left: -70px;
    background: white;
  }
  15% {
    left: 290px;
  }
  16% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
.video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0;
  margin: 40px 0;
}
.video__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__title {
  font-size: ;
  font-weight: ;
  line-height: ;
  color: white;
  text-align: center;
  max-width: 640px;
}
.video__play-btn {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.25s ease;
  padding: 20px;
}
.video__play-btn--img {
  background-image: url('../img/video_play_btn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
.video__play-btn:hover {
  opacity: 1;
}
.reason {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}
.reason-header,
.reason-footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.reason-header {
  min-height: 550px;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 60px;
}
.reason-header__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.reason-header__title {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  color: white;
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.22);
  margin-bottom: 40px;
}
.reason-header__container ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: relative;
}
.reason-header__container ul li {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
  position: relative;
  margin-bottom: 20px;
}
.reason-header__container ul li img {
  margin-right: 20px;
  max-width: 30px;
  height: auto;
}
.reason-header-benefits__img {
  position: absolute;
  bottom: -190px;
  right: -220px;
}
.reason-footer__container {
  padding: 200px 15px 80px 15px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.reason-footer__container > img {
  position: absolute;
  top: -220px;
  left: 0px;
}
.reason-footer__title {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
  color: white;
  text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.22);
  margin-bottom: 40px;
  color: black;
  text-shadow: none;
}
.reason-footer__container ul {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.reason-footer__container ul li {
  display: flex;
  width: 100%;
  max-width: 100%;
  width: calc(100% / 3);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  padding-right: 15px;
}
.reason-footer__container ul li img {
  margin-right: 15px;
  max-width: 30px;
  height: auto;
}
.rewies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(106.2deg, #d5f3ec 3.79%, #d6d5e2 86.45%);
  padding: 40px 0;
}
.rewies__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rewies__title {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 0 15px;
  text-align: center;
}
.rewies .swiper-button-next,
.rewies .swiper-button-prev {
  display: none;
  height: 55px;
  width: 47px;
  padding: 10px;
  background-size: 27px 35px;
  opacity: 0.7;
  transition: 0.25s ease;
  transition: scale 0.15s;
}
.rewies .swiper-button-next:active,
.rewies .swiper-button-prev:active,
.rewies .swiper-button-next:focus,
.rewies .swiper-button-prev:focus {
  opacity: 1;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.swiper-wrapper.g {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rewies-item {
  pointer-events: none;
  width: 320px;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
  background: #f3efef;
  font-family: 'SegoeUI', sans-serif;
}
.rewies-item__header {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
}
.rewies-item__ava {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.rewies-item__ava img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: lightblue;
}
.rewies-item__name {
  padding: 0 10px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.rewies-item__dots {
  margin-left: auto;
  margin-right: 6px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
  position: relative;
}
.rewies-item__dots::before,
.rewies-item__dots::after {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}
.rewies-item__dots::before {
  left: -6px;
}
.rewies-item__dots::after {
  right: -6px;
}
.rewies-item > img {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: lightblue;
}
.rewies-item__wrapper {
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}
.rewies-item__icons {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.rewies-item__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url('../img/rewies/like.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.rewies-item__icon.__subs {
  background-image: url('../img/rewies/subs.png');
}
.rewies-item__icon.__share {
  background-image: url('../img/rewies/share.png');
}
.rewies-item__icon.__flag {
  background-image: url('../img/rewies/flag.png');
}
.rewies-item__icon:last-child {
  margin-right: 0;
  margin-left: auto;
}
.rewies-item__count {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: #262626;
}
.rewies-item__post {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #262626;
  padding-top: 10px;
}
.rewies-item__post--name {
  font-weight: 600;
  margin-right: 6px;
}
.rewies-item__download-more {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #999;
  padding: 6px 0;
}
.rewies-item__post-time {
  font-size: 10px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #999;
  margin: 4px 0;
}
.rewies-item__comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rewies-item__comment {
  width: 100%;
  padding-right: 16px;
  margin: 4px 0;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  position: relative;
}
.rewies-item__comment--name {
  font-weight: 600;
  margin-right: 8px;
}
.rewies-item__comment::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 11px;
  right: 0;
  top: calc(50% - 5.5px);
  background-image: url('../img/rewies/like.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.get-steps {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  margin-top: 40px;
}
.get-steps__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get-steps__title {
  text-align: center;
  padding: 0 15px;
}
.get-steps__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.get-steps__item {
  width: 25%;
  margin-top: 25px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.get-steps__item--counter {
  position: absolute;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #f05b33;
  background-color: white;
  box-shadow: 0px 17px 32px 0px rgba(0, 0, 0, 0.14);
}
.get-steps__item--wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 36px 32px 0px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  position: relative;
}
.get-steps__item--img {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
  margin-bottom: 15px;
}
.get-steps__item--img img {
  width: 100%;
}
.get-steps__item--desc {
  margin-bottom: 15px;
}
.get-steps__item--desc h3 {
  margin-bottom: 10px;
}
.get-steps__item--btn {
  width: 100%;
  max-width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(to bottom, #ffa84b 0%, #ef5531 100%);
  box-shadow: 0px 10px 10px 0px rgba(210, 134, 91, 0.07), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
}
.get-steps__item--btn.__orange {
  background: linear-gradient(to bottom, #ffa84b 0%, #ef5531 100%);
}
.get-steps__item--btn.__green {
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
}
.get-steps__item--btn p {
  color: white;
  letter-spacing: 0.6px;
  width: calc(100% - 4px);
  height: 40px;
  border-radius: 22px;
  line-height: 40px;
  transition: 0.3s ease;
}
.get-steps__item--btn:hover p,
.get-steps__item--btn:active p,
.get-steps__item--btn:focus p {
  box-shadow: inset 0 0 0 2px #fff;
}
.get-steps__item--btn:hover.__green,
.get-steps__item--btn:active.__green,
.get-steps__item--btn:focus.__green {
  background: linear-gradient(to bottom, #0ec539 0%, #47e72e 100%);
}
.get-steps__item--btn:hover.__orange,
.get-steps__item--btn:active.__orange,
.get-steps__item--btn:focus.__orange {
  background: linear-gradient(to bottom, #ef5531 0%, #ef5531 100%);
}
.get-steps__item--btn::before {
  content: '';
  position: absolute;
  left: -70px;
  top: auto;
  width: 80px;
  height: 25px;
  background: transparent;
  background: white;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-animation: transfusionBtnGetSteps 5.25s ease infinite;
          animation: transfusionBtnGetSteps 5.25s ease infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes transfusionBtnGetSteps {
  0% {
    left: -70px;
    background: white;
  }
  23% {
    left: 250px;
  }
  24% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes transfusionBtnGetSteps {
  0% {
    left: -70px;
    background: white;
  }
  23% {
    left: 250px;
  }
  24% {
    background: white;
  }
  25% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
.delivery {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.delivery__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 15px 60px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.delivery-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  text-align: left;
}
.delivery-item__title {
  font-size: 35px;
  font-weight: 400;
  color: ;
  text-align: left;
  margin-bottom: 30px;
}
.delivery-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.33;
  margin-bottom: 10px;
}
.delivery-item__text.__loca {
  padding-left: 25px;
  position: relative;
}
.delivery-item__text.__loca::before {
  position: absolute;
  left: 0;
  top: 3px;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url('../img/location--blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;
}
.delivery-item__text.__phone {
  padding-left: 25px;
  position: relative;
}
.delivery-item__text.__phone::before {
  position: absolute;
  left: 0;
  top: 3px;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url('../img/phone--blue.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.delivery-item__text--imp {
  font-weight: 600;
  color: white;
  line-height: 2;
  padding: 3px 10px;
  border-radius: 16px;
  border: none;
  background-color: #24AEF2;
}
.delivery-item__text--bold {
  font-weight: 600;
  color: white;
  line-height: 2;
  padding: 3px 10px;
  border-radius: 16px;
  border: none;
  background-color: #24AEF2;
}
.delivery-item ul {
  width: 100%;
  padding-left: 20px;
  color: ;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.delivery-item ul li {
  position: relative;
  margin-bottom: 10px;
}
.delivery-item ul li::before {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #24AEF2;
  left: -20px;
  top: 7px;
}
.contacts__container {
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 60px 15px;
}
.contacts__wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
#callback-popup {
  display: none;
  cursor: default;
}
.callback-popup {
  width: 100%;
  max-width: 550px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 25px 15px;
  border: 2px solid white;
}
.popup__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: black;
  margin-bottom: 30px;
  position: relative;
}
.popup__title::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 20%;
  height: 2px;
  width: 60%;
  background-color: ;
}
.callback-popup.__green .popup__title::after {
  background-color: #0ec539;
}
.callback-popup.__green .callback-form input:hover,
.callback-popup.__green .callback-form input:active,
.callback-popup.__green .callback-form input:focus {
  border-color: #0ec539;
}
.callback-popup.__green .callback-form__btn {
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
}
.callback-popup.__orange .popup__title::after {
  background-color: #ffa84b;
}
.callback-popup.__orange .callback-form input:hover,
.callback-popup.__orange .callback-form input:active,
.callback-popup.__orange .callback-form input:focus {
  border-color: #ffa84b;
}
.callback-popup.__orange .callback-form__btn {
  background: linear-gradient(to bottom, #ffa84b 0%, #ef5531 100%);
}
.popup__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  color: black;
  width: 100%;
}
.popup__text.d-none {
  display: none;
}
.popup__text-hidden {
  display: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  color: black;
  width: 100%;
  margin-bottom: 20px;
}
.popup__text-hidden.d-block {
  display: block;
}
.callback-popup .popup__text:nth-child(2) {
  max-width: 100%;
  margin-bottom: 10px;
}
.callback-popup .popup__text:nth-child(3) {
  max-width: calc(100% - 30px);
  margin-bottom: 20px;
}
.callback-form {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.callback-form input {
  width: 100%;
  margin-bottom: 15px;
  color: black;
  background-color: transparent;
  z-index: 10;
  border: 1px solid #909090;
  padding: 0 30px;
  border-radius: 26px;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.5;
  transition: 0.3s ease-out;
}
.callback-form__btn {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  height: 52px;
  border-radius: 26px;
  border: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.callback-form__btn--text {
  z-index: 10;
  color: white;
  transition-timing-function: ease-out;
  width: 100%;
  transition: 0.3s ease;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.callback-form__btn--gg {
  z-index: 3;
  position: absolute;
  right: -360px;
  top: auto;
  color: white;
  transition-delay: 0.1s;
  width: 100%;
  transition: 0.3s ease;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}
.callback-form__btn:hover .callback-form__btn--gg {
  -webkit-transform: translate(-290px, 0);
          transform: translate(-290px, 0);
  -webkit-transform: translate(-360px, 0);
          transform: translate(-360px, 0);
}
.callback-form__btn:hover .callback-form__btn--text {
  -webkit-transform: translate(-290px, 0);
          transform: translate(-290px, 0);
  -webkit-transform: translate(-360px, 0);
          transform: translate(-360px, 0);
}
#callback-popup {
  padding: 0;
}
#callback-popup .fancybox-close-small {
  z-index: 10;
  padding: 0;
  height: 18px;
  width: 18px;
  margin: 15px 15px 0 0;
  background: url('../img/close.svg') no-repeat center center;
  transition: 0.3s ease-out;
}
#callback-popup .fancybox-close-small svg {
  display: none;
}
#callback-popup .fancybox-close-small:hover {
  -webkit-transform: rotate3d(0, 0, 1, 135deg) scale(0.75);
          transform: rotate3d(0, 0, 1, 135deg) scale(0.75);
}
.fancybox-bg {
  background: #0b1526 !important;
}
#popup-buy-one-click {
  display: none;
  cursor: default;
  padding: 0;
  margin: 0;
}
#popup-buy-one-click .fancybox-close-small {
  z-index: 10;
  padding: 0;
  height: 18px;
  width: 18px;
  margin: 15px 15px 0 0;
  background: url('../img/close.svg') no-repeat center center;
  transition: 0.3s ease-out;
}
#popup-buy-one-click .fancybox-close-small svg {
  display: none;
}
#popup-buy-one-click .fancybox-close-small:hover {
  -webkit-transform: rotate3d(0, 0, 1, 135deg) scale(0.75);
          transform: rotate3d(0, 0, 1, 135deg) scale(0.75);
}
.popup-buy-one-click {
  width: 100%;
  max-width: 540px;
  min-width: 300px;
  padding: 25px 15px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.popup-callback__title,
.popup-callback__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.popup-callback__input-field.__success-animation {
  -webkit-animation: ssAnimation 0.4s ease-out forwards;
          animation: ssAnimation 0.4s ease-out forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.popup-callback__input-field.__none {
  display: none;
}
@-webkit-keyframes ssAnimation {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes ssAnimation {
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.popup-callback__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}
.popup-buy-one-click__btn {
  width: 100%;
  border: none;
  border-radius: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 46px;
  color: white;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(to bottom, #f99b0e 0%, #ea6b22 100%);
  box-shadow: 0px 10px 10px 0px rgba(210, 134, 91, 0.07), inset 0px 2px 5px 0px rgba(255, 255, 255, 0.5);
}
.popup-buy-one-click__btn.__orange {
  background: linear-gradient(to bottom, #f99b0e 0%, #ea6b22 100%);
}
.popup-buy-one-click__btn.__orange:hover {
  background: linear-gradient(to bottom, #ea6b22 0%, #ea6b22 100%);
}
.popup-buy-one-click__btn.__green {
  background: linear-gradient(to bottom, #47e72e 0%, #0ec539 100%);
}
.popup-buy-one-click__btn.__green:hover {
  background: linear-gradient(to bottom, #0ec539 0%, #47e72e 100%);
}
.popup-callback__input-field input {
  width: 100%;
  max-width: 290px;
  min-width: 290px;
}
.popup-buy-one-click-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.popup-buy-one-click-form input {
  width: calc(50% - 15px);
  background-color: transparent;
  border: 1px solid #a8acb1;
  border-radius: calc(47px / 2);
  padding: 0 30px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 2.5;
  color: #a8acb1;
  z-index: 10;
  transition: 0.3s ease;
}
/*

rfgdfg

*/
.popup-buy-one-click__title {
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 15px;
}
.popup-buy-one-click__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px dashed;
}
.popup-buy-one-click__header.__green {
  border-color: #f18219;
}
.popup-buy-one-click__header.__orange {
  border-color: #0ec539;
}
.popup-buy-one-click__img {
  width: 180px;
  height: auto;
  margin-right: 0px;
}
.popup-buy-one-click__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-buy-one-click__info--model {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 15px;
}
.popup-buy-one-click__info--price {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}
.popup-buy-one-click__info--price span {
  font-weight: 600;
}
.popup-callback__text {
  margin: 15px 0;
}
.container {
  max-width: 1200px;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }
  .catalog-ni__wrapper {
    max-width: 640px;
  }
  .catalog-ni-item {
    width: 50%;
    min-width: 0;
  }
  .delivery__container {
    flex-wrap: wrap;
  }
  .delivery-item {
    min-width: 330px;
  }
  .catalog-3i-item__galery {
    padding-right: 0;
  }
  .catalog-3i-item__galery--container {
    max-width: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-menu__item {
    margin: 0 5px;
  }
  .nav-menu {
    padding: 0 5px;
  }
  .header-top__item--spb {
    display: none;
  }
  .wave-block {
    background: none;
    padding: 60px 0;
  }
  .about-ni {
    margin-top: 0;
  }
  .catalog-3i-item__desc {
    margin: 15px 0;
  }
  .catalog-3i-item__name {
    display: none;
  }
  .catalog-3i-item {
    flex-direction: column;
  }
  .catalog-3i-item > .catalog-3i-item__name {
    display: block;
  }
  .catalog-3i-item__galery {
    justify-content: center;
  }
  .catalog-3i-item__galery--container {
    max-width: calc(768px - 30px);
  }
  .catalog-3i-item__content {
    margin-top: 30px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .catalog-3i-item__table ul {
    max-width: 400px;
  }
  .catalog-3i-item__desc {
    max-width: calc(100% - 400px);
    margin: 0;
    padding: 0 15px;
  }
  .catalog-3i-item__cta {
    width: auto;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: auto;
  }
  .catalog-3i-item__btn {
    margin-left: 40px;
  }
  .video {
    padding: 140px 0;
  }
  .reason-footer__container > img {
    width: 480px;
    top: -230px;
    left: 20px;
  }
  .reason-footer__container {
    padding: 80px 15px 40px 15px;
  }
  .rewies {
    position: relative;
    padding: 60px 0px 60px 0px;
  }
  .rewies .swiper-button-next,
  .rewies .swiper-button-prev {
    display: block;
    top: auto;
    bottom: 15px;
  }
  .rewies .swiper-button-next {
    right: calc(50% - 80px);
  }
  .rewies .swiper-button-prev {
    left: calc(50% - 80px);
  }
  .rewies__title {
    margin-bottom: 25px;
  }
  .rewies__container {
    width: 320px;
    padding: 0px 6px 28px 6px;
    overflow: hidden;
  }
  .rewies__container .swiper-wrapper {
    align-items: center;
  }
  .contacts__wrapper {
    flex-wrap: wrap;
  }
  .contacts__wrapper .delivery-item:last-child {
    max-width: 100%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 950px) {
  .about-ni__wrapper {
    max-width: 760px;
    flex-wrap: wrap;
  }
  .about-ni__item {
    width: 50%;
  }
  .about-2__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }
  .about-2-col {
    display: flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about-2-col--first .about-2-item:nth-of-type(3) {
    width: 100%;
    max-width: 100%;
  }
  .about-2-col--first .about-2-item:nth-of-type(1),
  .about-2-col--first .about-2-item:nth-of-type(2) {
    width: 100%;
    max-width: calc(50% - 10px);
  }
  .about-2-col--last .about-2-item:nth-of-type(1) {
    width: 100%;
    max-width: 100%;
  }
  .about-2-col--last .about-2-item:nth-of-type(2),
  .about-2-col--last .about-2-item:nth-of-type(3) {
    width: 100%;
    max-width: calc(50% - 10px);
  }
  .about-2-item {
    margin-bottom: 20px;
    align-items: center;
  }
  .about-2-item__icon {
    margin-right: 10px;
  }
  .about-2-item__text {
    max-width: 350px;
    text-align: center;
  }
  .about-2-img {
    width: 300px;
    margin: 30px 0;
  }
  .get-steps__wrapper {
    max-width: 740px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .get-steps__item {
    min-width: 320px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .about-ni__title,
  .catalog-ni__title,
  .reason-header__title,
  .reason-footer__title,
  .get-steps__title,
  .delivery-item__title,
  .catalog-3i__title {
    font-size: 26px;
    text-align: center;
  }
  .logo-wrapper {
    display: none;
  }
  .header-top__item--time {
    display: none;
  }
  .header-bot {
    justify-content: flex-start;
    padding: 10px 15px;
    background: white;
  }
  .menu__callback-btn {
    margin-left: 0;
    height: 46px;
  }
  .menu__callback-btn:active {
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
    box-shadow: 0px 2px 2px 0px rgba(71, 71, 71, 0.5);
  }
  .menu__callback-btn:active .menu__callback-btn--text {
    color: white;
  }
  .menu__callback-btn:active .menu__callback-btn--bg {
    opacity: 0;
  }
  .menu__callback-btn--bg {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
  }
  .nav-menu {
    width: calc(100% - 30px);
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    padding: 0 15px;
  }
  .nav-menu__toggler {
    display: flex;
    align-self: flex-end;
  }
  .nav-menu__list {
    width: 100%;
    min-width: 0;
    height: 0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    overflow: hidden;
    position: absolute;
    top: 66px;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .nav-menu__item {
    opacity: 0;
    margin: 0;
    width: 100%;
    -webkit-transform: translate(1000px, 0);
            transform: translate(1000px, 0);
    transition: opacity 0.5s ease, -webkit-transform 0.7s ease-out;
    transition: opacity 0.5s ease, transform 0.7s ease-out;
    transition: opacity 0.5s ease, transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  }
  .nav-menu__item:last-of-type {
    border-bottom: none;
  }
  .nav-menu__item:nth-child(1) {
    transition-delay: 0.35s;
  }
  .nav-menu__item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .nav-menu__item:nth-child(3) {
    transition-delay: 0.25s;
  }
  .nav-menu__item:nth-child(4) {
    transition-delay: 0.2s;
  }
  .nav-menu__item:nth-child(5) {
    transition-delay: 0.15s;
  }
  .nav-menu__item:nth-child(6) {
    transition-delay: 0.1s;
  }
  .nav-menu__item a {
    font-size: 20px;
    line-height: 2;
    color: black;
  }
  .nav-menu__item.__hidden {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid lightgrey;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .nav-menu__item.__hidden p {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
    color: lightgrey;
    text-align: right;
  }
  .nav-menu__item.__hidden p:before {
    content: none;
  }
  .nav-menu__item.__hidden p a {
    color: lightgrey;
    font-size: 16px;
    line-height: 1;
  }
  .nav-menu__item.__hidden .header-top__item--time,
  .nav-menu__item.__hidden .header-top__item--delivery,
  .nav-menu__item.__hidden .header-top__item--spb,
  .nav-menu__item.__hidden .header-top__item--moscow {
    display: flex;
  }
  .header-bot {
    flex-wrap: wrap;
  }
  .promo__container {
    flex-wrap: wrap;
  }
  .promo-content {
    padding-top: 0;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .promo-bullets {
    margin-bottom: 20px;
  }
  .about-1i-item__img {
    position: static;
    height: 250px;
    width: 100%;
    background-position: center center;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .about-1i-item__content {
    min-height: 0;
    width: 100%;
    padding: 30px 0;
  }
  .about-1i-item__content::before {
    -webkit-transform: none;
            transform: none;
  }
  .about-ni__wrapper {
    max-width: 380px;
    flex-wrap: wrap;
  }
  .about-ni__item {
    width: 100%;
  }
  .wave-block {
    background: none;
    padding-top: 60px;
  }
  .about-2 {
    padding-bottom: 40px;
  }
  .about-2__title {
    font-size: 28px;
    margin: 40px 0;
  }
  .about-2-item__title {
    font-size: 18px;
  }
  .about-2-item__text {
    font-size: 14px;
  }
  .video {
    padding: 80px 0;
  }
  .video__title {
    max-width: 100%;
  }
  .delivery__container {
    padding: 60px 15px 0px 15px;
  }
  .delivery-item {
    margin-bottom: 25px;
    min-width: 290px;
  }
  .delivery-item__title {
    margin-bottom: 15px;
  }
  .contacts__container {
    padding: 25px 15px;
  }
  .contacts__wrapper .delivery-item:last-child {
    margin-top: 0;
  }
  .catalog-3i-item__galery--container {
    max-width: 480px;
  }
  .catalog-3i-item {
    align-items: center;
  }
  .catalog-3i-item__content {
    flex-direction: column;
    align-items: center;
  }
  .catalog-3i-item__desc {
    max-width: 400px;
    padding: 20px 15px;
  }
  .catalog-3i-item__cta {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  .reason-footer__container > img {
    display: none;
  }
  .reason-header {
    padding: 30px 0;
    min-height: 300px;
    justify-content: center;
  }
  .reason-footer__container {
    padding: 40px 15px;
    align-items: flex-start;
  }
  .reason-footer__container ul {
    flex-direction: column;
  }
  .reason-footer__container ul li {
    width: 100%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 640px) {
  .about-2-col .about-2-item:nth-of-type(n) {
    max-width: 100%;
  }
  .get-steps__wrapper {
    max-width: 320px;
  }
  .get-steps__item {
    min-width: 320px;
  }
  .catalog-ni__wrapper {
    max-width: 290px;
    border-left: none;
  }
  .catalog-ni-item {
    width: 100%;
    border-left: 1px solid #e2e2e2;
  }
}
@media screen and (max-width: 550px) {
  .catalog-3i__container {
    padding: 40px 0;
  }
  .catalog-3i-item__galery--container {
    max-width: 100%;
    border-radius: 0;
  }
  .catalog-3i-item__content {
    padding: 0 15px;
  }
  .catalog-3i-item__desc {
    padding: 20px 0;
    max-width: 100%;
  }
  .catalog-3i-item__cta {
    max-width: 100%;
    justify-content: space-between;
    height: auto;
    flex-direction: column;
  }
  .catalog-3i-item__prices {
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .catalog-3i-item__prices--old {
    margin-right: 15px;
  }
  .catalog-3i-item__btn {
    margin-left: 0;
  }
  .catalog-3i-item__name {
    padding: 0 15px;
    width: 100%;
    max-width: 290px;
  }
  .popup-buy-one-click-form {
    flex-direction: column;
    align-items: center;
    max-width: 290px;
  }
  .popup-buy-one-click-form input {
    width: 100%;
  }
  .popup-buy-one-click__img {
    width: 150px;
  }
  .popup-buy-one-click__header {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .about-2-img {
    max-width: 290px;
  }
}
@media screen and (max-width: 425px) {
  .callback-form {
    max-width: 290px;
  }
}
